---
layout: default
title: Home
---

<div id="primary" class="twocol-stories">
		<div class="inside">
		{% for post in site.posts %}
				<div class="story first">
					<h3><a href="{{ site.base-url }}{{ post.url }}">{{ post.title }}</a></h3>
					{{ post.excerpt }}
					<div class="details">
						Posted at 10am on {{ post.date | date_to_string }} | <a href="#">23 comments</a> | Filed Under: <a href="#">Category</a> | <span class="read-on"><a href="{{ site.base-url }}{{ post.url }}">read on</a></span>
					</div>
				</div>
				<div class="story">
					<h3><a href="{{ site.base-url }}{{ post.url }}">{{ post.title }}</a></h3>
					{{ post.excerpt }}
					<div class="details">
						Posted at 10am on {{ post.date | date_to_string }} | <a href="#">23 comments</a> | Filed Under: <a href="#">Category</a> | <span class="read-on"><a href="{{ site.base-url }}{{ post.url }}">read on</a></span>
					</div>
				</div>
				
			<div class="clear"></div>
			 {% endfor %}
		</div>
	</div>
	<!-- [END] #primary -->
	
	{% include ancillary.html %}
