	<hr class="hide" />
	<div id="ancillary">
		<div class="inside">
			<div class="block first">
				<h2>About</h2>
				<p>{{ site.description }}</p>
			</div>
			
			<div class="block">
				<h2>Recently</h2>
				<ul class="dates">
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
					<li>
					<a href="#"><span class="date">11.02</span> What Mena Trott’s mom can... </a></li>
				</ul>
			</div>
			
			<div class="block">
				<h2>Categories</h2>
				<ul class="counts">
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
					<li>
						<a href="#"><span class="count">11</span> category name
				  </a></li>
				</ul>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
	<!-- [END] #ancillary -->
	
