	<hr class="hide" />
	<div id="secondary">
		<div class="inside">
			<div class="comment-head">
				<h2>23 Comments | 5 Pingbacks</h2>
				<span class="details"><a href="#comment-form">Jump to comment form</a> | <a href="#">comments rss</a> <a href="#what-is-comment-rss" class="help">[?]</a> | <a href="#">trackback uri</a> <a href="#what-is-trackback" class="help">[?]</a></span>
			</div>
			<ol id="comments">
				<li>
					<cite>
						<span class="author"><a href="#">Michael</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
					</div>
					<div class="clear"></div>
				</li>
				<li class="pingback">
					<cite>
						<span class="author"><a href="#">Pingback</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<h3><a href="#">Post title goes here</a></h3>
						<p>There is news of a worm which uses a vulnerability in the PHPXMLRPC libraries to spread a computer virus. Some articles are pointing to out-of-date information claiming that WordPress 1.5 is vulnerable. That is incorrect. WordPress 1.5 or higher is safe. Since the release of version 1.5, WordPress has used a completely different XML-RPC library,</p>
						<p><a href="#">http://www.alperorus.com/?p=71</a></p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<cite>
						<span class="author"><a href="#">Michael</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<cite>
						<span class="author"><a href="#">Michael</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<cite>
						<span class="author"><a href="#">Michael</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<cite>
						<span class="author"><a href="#">Michael</a></span>
						<span class="date">10.11.05 / 10am</span>
					</cite>
					<div class="content">
						<p>I like that last paragraph about small teams trying to look big. We had a client who was a one-man team who wanted to overcomplicate things on his site to seem like a big company. For example, he used four email addresses which went to just him.</p>
					</div>
					<div class="clear"></div>
				</li>
			</ol>
			
			<div id="comment-form">
				<form>
				<h3 class="formhead">Have your say</h3>
				<p>A name is required. You may use HTML in your comments.</p>
				<input type="text" class="textfield" /><label class="text">Name</label><br />
				<input type="text" class="textfield" /><label class="text">Email</label><br />
				<input type="text" class="textfield" /><label class="text">Website</label><br />
				<textarea class="commentbox"></textarea>
				<div class="formactions">
					<a href="#">Preview your comment</a>
					<input type="submit" class="submit" value="Add your comment" />
				</div>
				</form>
			</div>
			
		</div>
	</div>