<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  {% include head.html %}

<body>
	<div id="header">
		<div class="inside">
			<h2><a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a></h2>
			<p class="description">{{ site.tagline }}</p>
		</div>
	</div>
	<!-- [END] #header -->

      {{ content }}

	<hr class="hide" />
	<div id="footer">
		<div class="inside">
			<p class="copyright">&copy;{{ site.time | date: '%Y' }} {{ site.author }}</p>
			<p class="attributes"><a href="#">Valid XHTML</a> <a href="#">Valid CSS</a></p>
		</div>
	</div>
	<!-- [END] #footer -->
	
</body>
</html>
